:root {
    --main-text-font: roboto;
    --main-text-color: black;

    --accent-color: #2196f3;

    --social-links-footer-background-color: rgba(255, 255, 255, 0.1);
    --logo-font: raleway;
    --main-transition-duration: 250ms;
    --main-transtition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container  {
    display: flex;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    position: relative;
    font-family: var(--logo-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-second-part {
    color: var(--main-text-color);
    position: relative;
                transition-property: transform;
                    transition-duration: var(--main-transition-duration);
                    transition-timing-function: var(--main-transtition-timing-function);
}

.animation-eb {
    transform: scaleX(0);
            transition-property: transform;
                transition-duration: var(--main-transition-duration);
                transition-timing-function: var(--main-transtition-timing-function);
                transform-origin: left;
    position: absolute;
    right: -16px;
}

.animation-tudio {
        transform: scaleX(0);
            transition-property: transform;
            transition-duration: var(--main-transition-duration);
            transition-timing-function: var(--main-transtition-timing-function);
            transform-origin: left;
            position: absolute;
            right: -68px;
}

.logo:hover .logo-second-part {
    transform: translateX(34px);

}

.logo:hover .animation-eb,
.logo:hover .animation-tudio
 {

    transform: scaleX(1);

}
